@charset "UTF-8";

body {
	/*background-color: #c6eaf5;*/ 
  background: url("https://wallpapertag.com/wallpaper/full/6/9/1/111348-watercolor-backgrounds-1920x1280-high-resolution.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}