@charset "UTF-8";

body {
	/*background-color: #c6eaf5;*/ 
  background: url("https://wallpapercave.com/wp/6AGfPRi.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center1 {
 
  margin: auto;
  width: 20%;
  padding: 10px;
}

.center-stuff {
    margin-left:auto; 
    margin-right:auto;
  }
  
  .rounded-box {
  border-radius: 15px;
  background: #e5f3f9;
  margin: auto;
  width: 60%;
  min-height:250px;
  border: 1px solid black;
  text-align:center;
}
.text-input{
  border-radius:5px;
  align-items: center;
  justify-content: center;
}

.error-color{
	color:#FF0000
}

.submit-button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: white;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  text-decoration: none;
  width:175px;
}
.submit-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.asubmit-button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: white;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left:45px;
  padding-right:45px;
  margin-left:auto;
  margin-right:auto;
  text-decoration: none;
}
.asubmit-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.container{
	display: flex;
}

.copyright{
	align-self: flex-end;
}

a.button1 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom:12px;
  margin-left:auto;
  margin-right:auto;
  text-decoration: none;
  display:flex;
  align-items: center;
  justify-content: center;

}

a.button1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.floatLeft {
	float: left;
	margin-top:9.2%;
	 }
.floatRight {
	float: right;
	margin-top:4.7% }

.inlineTable {
            display: inline-block;
        }
        
      
